{% extends "blog/base.html" %}
{% block content %}
    <form method="POST" class="col-6 no-padding">
        {% csrf_token %}
        <fieldset class="form-group white-important">
            Delete post?
        </fieldset>
        <p class="bg-steel p-2"
           style="border: 1px solid white; border-radius: 4px; word-wrap: break-word;">
           {{ post.content }}
        </p>
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">Yes</button>
        </div>
    </form>
{% endblock content %}