{% extends "blog/base.html" %}
{% load bootstrap4 %}
{% block content %}
    <h3 class="white-important">
        {{ tag_line }}
    </h3>
    <form method="POST" class="col-12 col-md-6 no-padding pr-3 pr-md-0">
        {% csrf_token %}
        <fieldset class="form-group">
            {% bootstrap_form form %}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">Post</button>
        </div>
    </form>
{% endblock content %}