{% extends "blog/base.html" %}
{% load bootstrap4 %}
{% block content %}
    <h3 class="white-important">
        Change profile data
    </h3>
    <form class="col-6 no-padding" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            {% bootstrap_form uform %}
            {% bootstrap_form pform %}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">Change data</button>
        </div>
    </form>
{% endblock content %}